<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>小型法律知识图谱构建与应用</title>

		<!--Bootstrap Stylesheet [ REQUIRED ]-->
		<link href="../static/css/bootstrap.min.css" rel="stylesheet">

		<link rel="shortcut icon" href="../static/images/logo.jpg">
		<!--Nifty Stylesheet [ REQUIRED ]-->
		<link href="../static/css/nifty.min.css" rel="stylesheet">


		<!--Nifty Premium Icon [ DEMONSTRATION ]-->
		<link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


		<!--Demo [ DEMONSTRATION ]-->
		<link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
		<link href="../static/css/nifty-demo.min.css" rel="stylesheet">
		<link href="../static/css/font-awesome.min.css" rel="stylesheet">



		<!--JAVASCRIPT-->
		<!--=================================================-->

		<!--Pace - Page Load Progress Par [OPTIONAL]-->
		<link href="../static/css/pace.min.css" rel="stylesheet">

		<script src="../static/js/pace.min.js"></script>



		<!--jQuery [ REQUIRED ]-->
		<script src="../static/js/jquery-2.2.4.min.js"></script>


		<!--BootstrapJS [ RECOMMENDED ]-->
		<script src="../static/js/bootstrap.min.js"></script>


		<!--NiftyJS [ RECOMMENDED ]-->
		<script src="../static/js/nifty.min.js"></script>
		<script src="../static/js/icons.js"></script>


		<script src="../static/js/echarts.min.js"></script>


		<!--=================================================-->

		<!--Demo script [ DEMONSTRATION ]-->
		<script src="../static/js/nifty-demo.min.js"></script>


	</head>

	<body>

		<div id="container" class="effect aside-float aside-bright mainnav-sm">

			<!--NAVBAR-->
			<!--===================================================-->
			<header id="navbar">
				<div id="navbar-container" class="boxed">

					<!--Brand logo & name-->
					<!--================================-->
					<div class="navbar-header">
						<a href="{{ url_for('index') }}" class="navbar-brand">
							<img src="../static/images/logo.jpg" alt="Nifty Logo" class="brand-icon">
							<div class="brand-title">
								<span class="brand-text" style="font-family: 华文彩云,serif ;font-size:30px">毕设主页</span>
							</div>
						</a>
					</div>
					<!--================================-->
					<!--End brand logo & name-->


					<!--Navbar Dropdown-->
					<!--================================-->
					<div class="navbar-content clearfix">
						<ul class="nav navbar-top-links pull-left">

							<!--Navigation toogle button-->
							<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
							<li class="tgl-menu-btn">
								<a class="mainnav-toggle" href="#">
									<i class="demo-pli-view-list"></i>
								</a>
							</li>

						</ul>
						<ul class="nav navbar-top-links pull-left">
							<h4>小型法律知识图谱构建与应用</h4>
						</ul>
					</div>

					<!--================================-->
					<!--End Navbar Dropdown-->

				</div>
			</header>
			<!--===================================================-->
			<!--END NAVBAR-->

			<div class="boxed">

				<!--CONTENT CONTAINER-->
				<!--===================================================-->
				<div id="content-container">

					<!--Page content-->
					<!--===================================================-->
					<div id="page-content">

						<div class="row" style="height: 800px;" id="guanxi">

							<script type="text/javascript">
								window.onresize = function() {

									myChart.resize();
								}
								$.ajaxSetup({
									async: false
								});
								var myChart = echarts.init(document.getElementById("guanxi"));
								myChart.showLoading();
								var rela = {
									"data": [],
									"links": []
								};
								$.getJSON('../static/knowledges.json', function(json) {
									rela = json;

								});
								myChart.hideLoading();
								option = {
									// backgroundColor: "white",
									title: {
										text: '法考知识图谱概览',
										textStyle: {
											// color: "white",
											fontWeight: "lighter",
											fontFamily: "华文行楷,serif",
											fontSize: 36,
											color: "darkslategrey",

										}
									},
									animationDurationUpdate: 1500,
									animationEasingUpdate: 'quinticInOut',
									legend: {
										x: "center",
										show: true,
										data: ["law_exam", "sort_exam", "classification", "knowledge_points"]
									},
									series: [{
										type: 'graph',
										layout: 'force',
										symbolSize: 45,
										edgeSymbol: ['circle', 'arrow'],
										edgeSymbolSize: [4, 4],
										edgeLabel: {
											normal: {
												show: true,
												textStyle: {
													fontSize: 10
												},
												formatter: "{c}"
											}
										},
										//force: {
											//repulsion: 150,
											//edgeLength:80
										//},
                                        force : { //力引导图基本配置
              //initLayout: ,//力引导的初始化布局，默认使用xy轴的标点
              repulsion : 100,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
              gravity : 0.15,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
              edgeLength : [10, 100],//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
              layoutAnimation : true
          //因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
},
										focusNodeAdjacency: true,
										draggable: true,
										roam: true,
										categories: [{
												name: 'law_exam',
												itemStyle: {
													normal: {
														color: "palevioletred",
													}
												}
											}, {
												name: 'sort_exam',
												itemStyle: {
													normal: {
														color: "gray",
													}
												}
											}, {
												name: 'classification',
												itemStyle: {
													normal: {
														color: "cadetblue",
													}
												}
											},
											{
												name: 'knowledge_points',
												itemStyle: {
													normal: {
														color: "darksalmon",
													}
												}
											}
										],
										label: {
											normal: {
												show: true,
												textStyle: {
													fontSize: 12
												},
											}
										},
										force: {
											repulsion: 1000
										},
										tooltip: {
											formatter: function(node) { // 区分连线和节点，节点上额外显示其他数字
												if (!node.value) {
													return node.data.name;
												} else {
													return node.data.name + ":" + node.data.showNum;
												}
											},
										},
										lineStyle: {
											normal: {
												opacity: 0.9,
												width: 1,
												curveness: 0.3
											}
										},
										// progressiveThreshold: 700,
										nodes: rela.data.map(function(node, idx) {
											node.id = idx;
											return node;
										}),
										links: rela.links,



									}]
								};
								myChart.setOption(option, true);
							</script>

						</div>





					</div>
					<!--===================================================-->
					<!--End page content-->


				</div>
				<!--===================================================-->
				<!--END CONTENT CONTAINER-->


				<!--MAIN NAVIGATION-->
				<!--===================================================-->
				<nav id="mainnav-container">
					<div id="mainnav">

						<!--Menu-->
						<!--================================-->
						<div id="mainnav-menu-wrap">
							<div class="nano">
								<div class="nano-content">

									<ul id="mainnav-menu" class="list-group">



										<!--Category name-->
										<li class="list-header">民诉法知识图谱</li>

										<!--Menu list item-->


										<!--Menu list item-->
										<li>
											<a href="{{ url_for('search') }}">
												<i class="fa fa-search" style="width:24px"></i>
												<span class="menu-title">
													<strong>检索法条逻辑关系</strong>
												</span>

											</a>


										</li>
										<li>
											<a href="{{ url_for('jurisdiction') }}">
												<i class="fa fa-share-alt" style="width:24px"></i>
												<span class="menu-title">
													<strong>民诉法知识图谱-主管与管辖</strong>
												</span>

											</a>

										</li>
										<li>
											<a href="{{ url_for('query_p') }}">
												<i class="fa fa-terminal" style="width:24px"></i>
												<span class="menu-title">
													<strong>民诉法知识图谱-具体路径检索</strong>
												</span>
											</a>
										</li>
										<!--Menu list item-->



										<li class="list-divider"></li>

										<!--Category name-->
										<li class="list-header">法考知识图谱</li>

										<!--Menu list item-->
										<li>
											<a href="{{ url_for('knowledges') }}">
												<i class="fa fa-sitemap" style="width:24px"></i>
												<span class="menu-title">
													<strong>法考知识图谱-客观题知识点</strong>
												</span>
											</a>
										</li>
										<li>
											<a href="{{ url_for('question') }}">
												<i class="fa fa-question" style="width:24px"></i>
												<span class="menu-title">
													<strong>检索法考知识点</strong>
												</span>
											</a>
										</li>

										<!--Menu list item-->

										<!--Category name-->
										<li class="list-header">节点生成器</li>
										<!--Menu list item-->
										<li>
											<a href="{{ url_for('add') }}">
												<i class="fa fa-plus" style="width:24px"></i>
												<span class="menu-title">
													<strong>生成知识图谱的一条路径</strong>
												</span>
											</a>
										</li>
                                        <li>
											<a href="{{ url_for('add_search') }}">
												<i class="fa fa-question-circle" style="width:24px"></i>
												<span class="menu-title">
													<strong>检索新生成的节点</strong>
												</span>
											</a>
										</li>

									</ul>

								</div>
							</div>
						</div>
						<!--================================-->
						<!--End menu-->

					</div>
				</nav>
				<!--===================================================-->
				<!--END MAIN NAVIGATION-->

			</div>
			<!-- FOOTER -->
			<!--===================================================-->
			<footer id="footer">

				<p class="pad-lft">Copyright&#0169; 2024 效昂昂 &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

			</footer>
			<!--===================================================-->
			<!-- END FOOTER -->

			<!-- SCROLL PAGE BUTTON -->
			<!--===================================================-->
			<button class="scroll-top btn">
				<i class="pci-chevron chevron-up"></i>
			</button>
			<!--===================================================-->
		</div>
		<!--===================================================-->
		<!-- END OF CONTAINER -->

	</body>
</html>
